<div class="fantadrogatiManager aste">
	<div class="content-aste-list" ng-if="vm.state==='list'">
		<table class="table table-aste table-bordered">
			<thead>
				<tr class="table-tr table-tr-thead">
					<th>Numero</th>
					<th>Dettagli</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-tr table-tr-tbody" ng-repeat="asta in vm.aste track by $index">
					<td>{{$index+1}}</td>
					<td>Stagione {{asta.year}} - Fase {{asta.step}}</td>
					<td><md-button md-no-ink class="md-primary" ng-click="vm.openAsta(asta._id)">Apri</md-button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content-aste-details" ng-if="vm.state==='details'">
		<table class="table table-aste table-bordered">
			<thead>
				<tr class="table-tr table-tr-thead">
					<th>Fase</th>
					<th ng-repeat="team in vm.teams">{{team.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-tr table-tr-tbody" >
				</tr>
			</tbody>
		</table>
	</div>
</div>
